{{ define "title"}}Mule's Projects Website{{end}}
{{ define "css"}}main{{end}}
{{define "body"}}
Welcome to the Mule's project testing grounds!<br>
Last Updated: 2015/05/17<br>
{{ if eq .Level "guest" }}
<br><a href="{{.HomeURL}}">Try out Apps As a Guest</a>
<br><a href="/register">Create an Account</a>
<br><a href="/login">Login To Existing Account</a>
{{else}}<br>You are logged in as: {{.Name}}
<br><a href="{{.HomeURL}}">Go to Your Control Center</a>
<br><a href="/logout">Logout</a>
{{end}}

{{ end}}
