{{ define "title"}}Mule's Projects Website{{end}}
{{ define "css"}}main{{end}}
{{define "body"}}
Welcome to the Mule's project testing grounds!<br>
Last Updated: 2015/05/18<br>
<br>You can see what I've been working on:
<br>&#8226; <a href="{{.HomeURL}}">Projects</a>
<br>
{{ if eq .Level "guest" }}
<br>With an account, any games you play or data you make will be saved.
<br>Account:
<br>&#8226; <a href="/login">Login</a>
<br>&#8226; <a href="/register">Create</a>
{{else}}<br>You are logged in as: {{.Name}}
<br>&#8226; <a href="/logout">Logout</a>
{{end}}

{{ end}}
